/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo general */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #eaeaea;
    color: #333;
  }
  
  /* Estilo del header y navegación */
  header {
    background-color: #a83338;
    padding: 15px 30px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #ccc;
  }
  
  
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Sección del formulario */
  .form-section {
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-section h2 {
    color: #a83338;
    margin-bottom: 25px;
    font-size: 1.8rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    text-align: left;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
  }
  
  input:focus {
    border-color: #a83338;
    outline: none;
    box-shadow: 0 0 5px rgba(168, 51, 56, 0.5);
  }
  
  /* Botón */
  .btn {
    background-color: #a83338;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #8e2a2e;
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul {
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }
  
    .form-section {
      margin: 30px 20px;
      padding: 20px;
    }
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5em;
    margin-top: 2em;
    animation: fadeInUp 1s ease;
  }